p {
	text-indent: 0em;
	margin-top: 0.5em;
	text-align: left;
}

li > p {
    margin: 0 !important;
}

li {
    margin: 0 !important;
}

img {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

pre {
    margin: 0 !important;
    font-size: x-small !important;
}

figcaption {
    display: block;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.pagebreak
{
	page-break-before: always;
}

.centered
{
	text-align: center;
}

.bottom
{
	vertical-align: text-bottom;
}

.tablehead
{
	text-align: center;
	font-weight: bold;
}

h1, h2, h3, h4 {
    margin-top: 1em;
    text-align: left;
}
